body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(202, 221, 238);
}

.form {
    position: absolute;
    top: 30%;
    box-shadow: 0, 4px 8px rgba(0, 0, 0,.3);
    width: 400px;
    background-color: rgb(122, 213, 213);
    border-radius: 10px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

input::placeholder {
    color: rgb(30, 25, 25);
}

.list {
    padding: 0;
    margin: 0;

}

.list li {
    list-style-type: none;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: dotted;
    border-color: rgb(59, 59, 58);
    position: relative

}


.list li .fa-trash{
    color: rgba(248, 3, 3, 0.863);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li .fa-square-check{
    color: rgb(24, 179, 0);
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: rgb(102, 95, 95);
    text-decoration: line-through;
}

.list li.checked .fa-square-check{
    color: darkgray;
}